/*--Initial------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@font-face{
    font-family:"Inter";
    src:url("../assets/fonts/Inter Variable.ttf");
}

:root{
    --accent-red:    rgb(255, 105, 105);
    --accent-blue:   rgb( 80, 118, 246);
    --accent-green:  rgb(118, 241, 163);
    --accent-yellow :rgb(253, 235, 109);
    
    --base-color-1:rgb( 10,  10,  10);
    --base-color-2:rgb( 21,  22,  23);
    --base-color-3:rgb( 43,  43,  43);
    --base-color-4:rgb(161, 169, 163);
    --base-color-5:rgb(249, 249, 249);

    --border-radius-1:    1rem;
    --border-radius-2:  0.5rem;
    --border-radius-3: 0.4rem;

    --path-color:rgba(10, 10, 10, 0);
}
body{
    background-color:var(--base-color-1);
    color:var(--base-color-5);
    font-family:"Inter";
    user-select: none;
    overflow-x:hidden;
    overflow-y:auto;
    font-size:1rem;
    padding:0px;
    margin:0px;
}
.page{
    width:calc(100% - 2rem);
    margin-left:1rem;
    margin-top:1rem;
    min-height:100%;
}
.page-title{
    margin-bottom:2rem;
    font-size:2.5rem;
    font-weight:bold;
}
.page-text{
    font-size:1rem;
    width:100%;
    height:fit-content;
}

@keyframes fade-in{
    from {opacity:0;}
    to   {opacity:1;}
}
@keyframes fade-out{
    from {opacity:1;}
    to   {opacity:0;}
}

/*--Code Display-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.code-display-container{
    margin-bottom:5rem;
    margin-top:2rem;
    width:100%;
}
.code-display-window{
    border:1px solid var(--base-color-3);
    background-color:var(--base-color-3);
    border-radius:var(--border-radius-1);
    margin-top:2rem;
    overflow:hidden;
}
.code-display-head{
    background-color:var(--base-color-1);
    padding:0.75rem;
    height:2.5rem;
    width:100%;
}
.code-display-tab-container{
    background-color:var(--base-color-2);
    border-radius:var(--border-radius-2);
    width:calc(100% - 2rem);
    height:100%;
    
    justify-content:flex-start;
    align-items:center;
    display:flex;
}
.code-display-tab{
    border-radius:var(--border-radius-3);
    color:var(--base-color-4);
    margin-left:0.3rem;
    padding:0.4rem;
    cursor:pointer;
    transition:ease-in-out 0.1s;
}
.code-display-tab:hover{
    background-color:var(--base-color-3);
}
.code-display-tab:active{
    color:var(--base-color-5);
}
.code-display-selected-tab{
    background-color:var(--base-color-1);
    cursor:default;
}
.code-display-selected-tab:hover{
    background-color:var(--base-color-1);
}
.code-display-selected-tab:active{
    color:var(--base-color-4);
}
.code-display-body{
    background-color:var(--base-color-3);
    height:fit-content;
    width:100%;
}
.code-display{
    display:none;
}
.code-display:first-child{
    display:block;
}
pre, pre code{
    font-size: 0.75rem !important;
}
pre{
    overflow:auto;
    width:100%;
}

/*--Main App-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.main-container{
    border:1px solid var(--base-color-3);
    border-radius:var(--border-radius-1);
    margin-bottom:2rem;
    margin-top:1rem;
    width:100%;

    justify-content:flex-start;
    align-items:flex-start;
    overflow:hidden;
    display:flex;
}
.main-container-head{
    border:1px solid var(--base-color-3);
    width:calc(100% - 2rem);
    font-size:1.25rem;
    font-weight:bold;
    padding:1rem;
    height:1rem;
    
    justify-content:flex-start;
    align-items:center;
    display:flex;
}

/*--Console------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.console-container{
    flex-shrink:0;
    height:100%;
    width:25rem;
}
.console-head{
    border-left:none;
    border-top:none;
}
.console-body{
    border-right:1px solid var(--base-color-3);
    background-color:var(--base-color-2);
    position:relative;
    width:100%;

    overflow-x:hidden;
    overflow-y:auto;
}
.console-log-list{
    height:fit-content;
    position:absolute;

    padding-bottom:1rem;
    width:100%;
    left:0px;
    top:0px;
}
.console-log{
    width:calc(100% - 1rem);
    margin-left:0.5rem;
    margin-top:0.5rem;
    font-size:0.75rem;

    animation:console-log-fade-in ease-in-out 0.1s;
}

@keyframes console-log-fade-in{
    from {opacity:0; transform:scale(0.9) translateY(-50%);}
    to   {opacity:1; transform:scale(1) translateY(0%);}
}
