/*--Mobile Dispaly-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width:768px){
    .side-chaos-button-container{
        display:block;
    }
    .side-close-mask{
        display:block;
    }
    .chaos-buttons-container .chaos-button{
        display:none;
    }
    #side-menu{
        display:block;
    }
    .CTA-bar{
        font-size:0.8rem;
    }
    .CTA-button{
        font-size:0.8rem;
    }
    .pop-up-text{
        margin-top:0.5rem;
    }
    .pop-up-text-column{
        margin-bottom:0.5rem;
        width:calc(32% - 2rem);
    }
    .pop-up-text-column-title{
        font-size:0.9rem;
    }
    .pop-up-text-column-value{
        font-size:0.75rem;
    }
    .window-body{
        width:calc(100% - 2rem);
        padding-right:1rem;
        padding-left:1rem;
        padding-top:0.5rem;
    }
    .troubleshoot-window{
        max-height:10rem;
        min-height:2rem;
    }
    .troubleshoot-window-row{
        font-size:0.75rem;
        height:2rem;
    }
}
@media only screen and (max-width:768px) and (orientation:portrait){
    .pop-up-text{
        flex-direction:column;
    }
    .pop-up-text-column{
        width:calc(100% - 2rem - 2px);
    }
}
@media only screen and (max-width:780px){
    .node-paths{
        transform:translate(0%);
        width:calc(100% - 8rem);
        left:8rem;

        height:calc(100% - 14rem);
        flex-direction:column;
    }
    .spine-path{
        left:33rem;
    }
    .h-path{
        width:24.5rem;
    }
    .h-path:nth-child(even){
        transform:scaleX(1);
    }
}
@media only screen and (max-width:1000px){
    :root{
        font-size:12px;
    }
    .main-container{
        flex-direction:column;
    }
    .active-agent-container{
        height:calc(100% - 2rem - 11rem - 3px);
    }
    .external-container{
        padding-top:1rem;
    }
    .console-container{
        width:100%;
    }
    .console-head{
        border-top:1px solid var(--base-color-3);
    } 
    .console-body{
        height:fit-content;
        min-height:20rem;
    }
    .node{
        width:29rem;
    }
    .note-head{
        width:2rem;
    }
    .agent{
        width:11.5rem;
    }
}
@media only screen and (max-width:1300px){
    .chaos-button{
        margin-right:0.5rem;
        min-width:8.25rem;
        height:3.5rem;
    }
}
@media only screen and (min-width:1001px) and (max-width:1466px){
    .node-paths{
        height:calc(100% - 13rem);
        flex-direction:column;
    }
    .spine-path{
        left:33rem;
    }
    .node-paths{
        transform:translate(0%);
        width:calc(100% - 8rem);
        left:8rem;
    }
    .h-path{
        width:24.5rem;
    }
    .h-path:nth-child(even){
        transform:scaleX(1);
    }
}
@media only screen and (max-width:460px){
    .node-paths{
        transform:translate(0%);
        width:calc(100% - 7rem);
        left:8rem;

        height:calc(100% - 14rem);
        flex-direction:column;
    }
    .spine-path{
        left:calc(100% - 1.5rem);
    }
    .h-path{
        width:calc(90% - 1rem);
    }
    .node-body{
        width:100%;
    }
    .agent{
        width:100%;
    }
}
@media only screen and (min-width:1880px){
    .page{
        transform:translate(-50%);
        width:calc(1880px - 2rem);
        margin-left:50%;
        margin-top:1rem;
        min-height:100%;
    }
}
